QWidget {
    background-color: lightgray;
}

QLabel {
    /* background-color: white; */
    margin: 0;
    border: 0;
}

/* .QPushButton{
    margin: 0;
} */

QMenu:hover{
	background-color: rgb(170, 255, 255);
	color: black;
}

/* QAction:hover{
    background-color: aqua;
    color: #000;
} */

QPushButton:hover{
    background-color: aqua;
}

QVBoxLayout{
    
}